@media screen and (max-width: 1282px){
	section.pedidos div.elegir{
		flex-direction: column-reverse;

	}

	section.pedidos div.elegir div.ordenar{
		border-left: none;
		border-bottom: none;
		padding-bottom: 10px;
		padding-top: 40px;

	}
	section.pedidos div.elegir div.recoger{
		border-bottom: solid 1px;
		padding-bottom: 40px;
	}

	section.pedidos h2{
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 1000px){
	header{
		flex-direction: column;
		padding: 0;
	}

	header .logo{
		margin:20px 0;
	}

	header nav{
		width: 100%;
		justify-content: center;
	}

	section.promociones{
		margin-top: 168px;
	}

}

@media screen and (max-width: 1100px){
	section.promociones div.combos div.combo1 h4{
		font-size: 1.5rem;
	
	}

	section.promociones div.combos div.combo1 span.precio{
		font-size: 2rem;

	}

}

@media screen and (max-width: 820px){
	section.promociones div.combos h3{
		font-size: 3rem;
	}

	section.promociones div.combos div.combo1 img:first-child{
		margin-left: 25%;
		margin-bottom: 20px;
	}
	section.promociones div.combos div.combo1 h4{
		clear: both;
		margin-top: 5%;
		
	}

	section.promociones div.combos div.combo1{
		text-align: center;
	}
	
}

@media screen and (max-width: 700px){

	section{
		width: 100%;
	}

	section.pedidos div.elegir div.ordenar{
		flex-direction: column-reverse;
		height: 700px;
	}
	section.pedidos div.elegir div.recoger{
		flex-direction: column;
		padding-top: 20px;
	}

}

@media screen and (max-width: 592px){
	section.pedidos h2{
		margin-bottom: 40px;
	}
	section.promociones{
		margin-top: 78px;
	}
	header nav{
		display: none;
	}
}
